name: check
on:
  push:
    branches:
      - '**'
env:
  WORKFLOW: check
  GRADLE_OPTIONS: "--console=plain --stacktrace"
jobs:
  build-and-test:
    runs-on: ubuntu-latest
    name: Build and Test
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Show Env
        run: gradle ${{ env.GRADLE_OPTIONS }} --version

      - name: Restore Gradle Dependencies
        run: gradle ${{ env.GRADLE_OPTIONS }}

      - name: Build Main Classes
        run: gradle ${{ env.GRADLE_OPTIONS }} classes

      - name: Build Test Classes
        run: gradle ${{ env.GRADLE_OPTIONS }} testClasses

      - name: Run Tests
        run: gradle ${{ env.GRADLE_OPTIONS }} test
